label.print{
  font-style: italic;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link{
  color: orange;
}

.btn-outline-success{
  color: orange;
  border-color: orange;
  
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-primary {
  color:white;
  background-color: orange;
  border-color:white; 
}

.btn-outline-success:not(:disabled):not(:disabled):active{ 
  color: white;
  background-color: orange;
  border-color: white;
}

.btn-primary{
  color:white;
  background-color: orange;
  border-color: white;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: white;
  background-color: orange;
  border-color: white; 
}

.btn-primary:not(:disabled):not(:disabled):active{ 
    color: white;
    background-color: orange;
    border-color: white;
}