{% extends 'base.html' %}

{% block title %} About Snackr {% endblock %}


{% block body %} 
<img src="../static/Snackr_Logo.png"class="logo">

<h1>About Snackr</h1>

<p>
    For sports fans who want to prepare food for the big game and share their creations with their guests
</p>
<br><br>
<br><br>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia, ex id auctor euismod, arcu tortor tempus est, vel tincidunt sapien odio vitae velit. Fusce finibus a lectus vel efficitur. Vivamus semper interdum turpis non suscipit. Praesent in pharetra ligula. Etiam at est at augue tincidunt rhoncus. Mauris at diam feugiat, sodales ex sed, rhoncus ex. In et viverra sapien, in molestie diam. Aliquam luctus, ante at commodo porttitor, tellus dolor luctus felis, vitae lobortis urna erat at mauris.

Morbi eros elit, cursus pellentesque bibendum in, pretium id sapien. Nulla sed varius justo, sed volutpat risus. Aenean mollis tortor vitae arcu scelerisque interdum. Vivamus suscipit lobortis tempor. Sed pulvinar, nibh non molestie posuere, orci tortor viverra tellus, et posuere arcu neque eu elit. Suspendisse ut mattis nisl, at viverra nulla. Duis a risus non nibh lobortis ullamcorper eget a nisl. Donec at dolor venenatis, lacinia nisl in, elementum mi. Quisque non magna vestibulum, ultricies tortor et, sagittis justo. Integer accumsan fringilla pretium. Phasellus a nulla elit. Curabitur consectetur tellus id suscipit imperdiet. Mauris sed dolor in urna suscipit viverra. Quisque ut diam sit amet libero efficitur lobortis.

<br><br>
Donec dignissim tellus leo, vulputate varius lacus fermentum nec. Aenean diam elit, auctor ultrices velit at, sodales rhoncus leo. Suspendisse convallis nisi augue, varius pulvinar tortor fermentum id. Proin quis quam lacus. Duis molestie leo sed vehicula accumsan. Sed mollis felis id sodales egestas. Nunc ultrices fringilla felis in consequat. Vivamus nec tortor convallis velit aliquet rutrum quis ut justo. Nulla vel venenatis quam, a bibendum metus. Vestibulum pretium molestie luctus. Vestibulum nec eleifend neque. Donec egestas pharetra odio, vitae tristique neque volutpat nec. Vestibulum tristique volutpat erat, consectetur commodo nulla iaculis sit amet. Mauris accumsan ipsum vitae urna scelerisque rutrum.

<br><br>Vivamus quis arcu a nibh efficitur rutrum. Sed sodales lectus ut mi porta, tincidunt pellentesque nisi ornare. Cras egestas turpis sem, quis volutpat neque luctus nec. Ut imperdiet lobortis varius. Nulla pharetra orci maximus, faucibus arcu aliquam, aliquam libero. Praesent semper suscipit lorem, a mollis enim. Pellentesque interdum aliquam lectus, a dignissim magna posuere varius. Etiam pellentesque ipsum purus, ut aliquet dolor sagittis vel. Mauris sed quam vel velit pretium hendrerit vitae in sapien. Morbi sed massa vitae mi hendrerit consectetur.

Duis suscipit, nisl non posuere vestibulum, magna velit ultricies tellus, nec aliquet elit felis cursus ex. Maecenas euismod commodo urna, sit amet efficitur tellus consequat id. Etiam quis vulputate risus. Nullam sed bibendum velit. Nam eu est facilisis, posuere diam in, blandit neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam malesuada lacus elementum purus laoreet bibendum. Duis posuere felis in risus rutrum, sed sagittis nulla maximus. Phasellus vel aliquet purus, at fringilla nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sollicitudin eros ut massa lobortis, vel vehicula nibh aliquam. Praesent efficitur mi vitae dui blandit, in rutrum nibh sodales. Proin posuere, quam at malesuada egestas, lorem augue interdum elit, eu lobortis diam dui at lorem. Aenean eget urna vitae neque ultrices pellentesque ullamcorper eget ante.
</p>

{% endblock %}